<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="xZune.Vlc" version="15.11.24" targetFramework="net40" developmentDependency="true" requireReinstallation="true" />
  <package id="xZune.Vlc.Wpf" version="15.11.24" targetFramework="net40" developmentDependency="true" requireReinstallation="true" />
</packages>